[submodule "41++ Extern/RSyntaxTextArea"]
	path = 41++ Extern/RSyntaxTextArea
	url = https://github.com/bobbylight/RSyntaxTextArea.git
[submodule "Enhanced-Regular-Expressions"]
	path = Enhanced-Regular-Expressions
	url = https://github.com/kavigupta/Enhanced-Regular-Expressions.git
